@charset "UTF-8";

/* CSS Document */

body{
    font-family: 'Montserrat', sans-serif !important;
    font-optical-sizing: auto;
    font-style: normal;
}

.purple-col{
    background-color: #B883E8;
}

.blue-col{
    background-color: #59D6FF;
}

.green-col{
    background-color: #87E87B;
}

/*.montserrat-alternates-regular {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.montserrat-alternates-bold {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-style: normal;
}*/

.bg-body-tertiary{
    background-color: #F2F2F2 !important;
}

.nav-link{
    color: #0D0D0D !important;
}

.nav-link:hover{
    color: #59D6FF !important;
}

.active{
    color: #775696 !important;
}

.navbar-brand{
    color: #775696 !important;
    font-weight: 700;
}

.navbar-toggler{
    filter:invert(100%);
}

/* Combo 1 - Minor Third */
.raleway{
    font-family: 'Raleway', sans-serif !important;
    font-optical-sizing: auto;
    font-style: normal;
}

.h1-c1{
    
    font-size: 2.074rem;
    font-weight: 700;
}

.h2-c1{
    font-size: 1.728rem;
    font-weight: 600;
}

.h3-c1{
    font-size: 1.44rem;
    font-weight: 600;
}

.h4-c1{
    font-size: 1.2rem;
    font-weight: 600;
}

.p-c1{
    font-weight: 400;
}

.em-c1{
   font-size: 1rem;
   font-weight: 700;
   font-style: normal;
}

.a-c1{
    font-weight: 600;
}

/* Combo 2 - Major Third */
.noto-serif{
    font-family: 'Noto Serif', sans-serif !important;
    font-optical-sizing: auto;
    font-style: normal;
}

.h1-c2{
    font-size: 2.441rem;
    font-weight: 700;
}

.h2-c2{
    font-size: 1.953rem;
    font-weight: 700;
}

.h3-c2{
    font-size: 1.563rem;
    font-weight: 700;
}

.h4-c2{
    font-size: 1.25rem;
    font-weight: 700;
}

.em-c2{
   font-size: 1rem;
   font-weight: 700;
   font-style: italic;
}

/* Combo 3 - Perfect Fourth */
.limelight{
    font-family: 'Limelight', sans-serif !important;
    font-optical-sizing: auto;
    font-style: normal;
}

.playfair-display{
    font-family: 'Playfair Display', serif !important;
    font-optical-sizing: auto;
    font-style: normal;
}

.h1-c3{
    font-size: 5.063rem;
}

.h2-c3{
    font-size: 3.375rem;
}

.h3-c3{
    font-size: 2.25rem;
    font-weight: 700;
}

.h4-c3{
    font-size: 1.5rem;
    font-weight: 700;
}


/*
.a-c1{
    font-weight: 600;
}*/

.footer-cy{
    text-align: center;
}

.btn-primary{
    background-color: #B883E8;
    border: #B883E8;
    color: #0D0D0D;
}

.btn-primary:hover{
    background-color: #59D6FF;
    border: #59D6FF;
}

.video-fit{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.carousel-padding{
    padding-left: 125px;
    padding-right: 125px;
    color:#0D0D0D;
}

.carousel-control-prev-icon{
    background-color: #B883E8;
}

.carousel-control-next-icon{
    background-color: #B883E8;
}

.nav-item{
    font-weight: 700;
}
