@charset "UTF-8";

/* CSS Document */

body{
    font-family: 'Montserrat Alternates', sans-serif !important;
}

.purple-col{
    background-color: #B883E8;
}

.blue-col{
    background-color: #59D6FF;
}

.green-col{
    background-color: #87E87B;
}

.montserrat-alternates-regular {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.montserrat-alternates-bold {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.bg-body-tertiary{
    background-color: #F2F2F2 !important;
}

.nav-link{
    color: #0D0D0D !important;
}

.nav-link:hover{
    color: #59D6FF !important;
}

.active{
    color: #775696 !important;
}

.navbar-brand{
    color: #775696 !important;
    font-weight: 700;
}

h1{
    font-size: 1.8em;
    font-weight: 700;
}

h2{
    font-size: 1.6em;
    font-weight: 700;
}

h3{
    font-size: 1.4em;
    font-weight: 700;
}

h4{
    font-size: 1.2em;
    font-weight: 400;
}

p{
    font-weight: 400;
}

.footer-cy{
    text-align: center;
}

.btn-primary{
    background-color: #B883E8;
    border: #B883E8;
    color: #0D0D0D;
}

.btn-primary:hover{
    background-color: #59D6FF;
    border: #59D6FF;
}

.video-fit{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.carousel-padding{
    padding-left: 125px;
    padding-right: 125px;
    color:#0D0D0D;
}

.carousel-control-prev-icon{
    background-color: #B883E8;
}

.carousel-control-next-icon{
    background-color: #B883E8;
}

.nav-item{
    font-weight: 700;
}
